header {
	width: 100%;
	background-color: #fff;
}

nav {
	font-size: 13px !important;
	border-bottom: solid 1px #e6e6e6; // #a6a6a6;

	.left {
		#navigationHamburger {
			display: none;
		}

		#navigationLogo .logo-image {
			height: 55px;
			padding: 16px 10px 16px 0;
		}


		#navigationLinks {
			display: flex;
		}
	}
}

#hamburgerDropdown {
	border-bottom: solid 2px #888;

	.links {
		li {
			border-bottom: 1px solid #e6e6e6;
			width: 100%;

			a {
				padding: 14px 15px 15px;
				width: 100%;
			}

			&:hover>a {
				font-weight: 500;
				letter-spacing: -.2px;
			}
		}
	}
}