header {
	width: 100%;
	border-bottom: solid 1px #a6a6a6;
	background-color: #fff;
}

nav {
	font-size: 13px !important;
	// border: solid 1px pink;

	.left {
		.logo-image {
			height: 55px;
			padding: 16px 10px 16px 0;
		}
	}
}