.hero {
	color: #fff;
	margin-bottom: 60px;

	&.landing {
		background: #422bca;
		background-image: url(../assets/tech-bg.svg);
		background-image: url(../assets/tech-bg.svg),
			linear-gradient(180deg, #422bca 30%, #0093E9 130%);
	}

	&.about {
		background: #ca832b;
		background-image: url(../assets/tech-bg.svg);
		background-image: url(../assets/tech-bg.svg),
			linear-gradient(180deg, #caa02b 30%, #ca832b 130%);
	}

	&.contact {
		background: #6e9a45;
		background-image: url(../assets/tech-bg.svg);
		background-image: url(../assets/tech-bg.svg),
			linear-gradient(180deg, #6e9a45 30%, #136b3a 130%);
	}

	&.services {
		background: #2b72ca;
		background-image: url(../assets/tech-bg.svg);
		background-image: url(../assets/tech-bg.svg),
			linear-gradient(180deg, #2ba5ca 30%, #2b8fca 130%);
	}

	&.projects {
		background: #17a07a;
		background-image: url(../assets/tech-bg.svg);
		background-image: url(../assets/tech-bg.svg),
			linear-gradient(180deg, #1da240 30%, #29af6b 130%);
	}

	&.products {
		background: #d48a64;
		background-image: url(../assets/tech-bg.svg);
		background-image: url(../assets/tech-bg.svg),
			linear-gradient(180deg, #d48a64 30%, #EA5455 130%);

	}

	&.open-source {
		background: #a72c5f;
		background-image: url(../assets/tech-bg.svg);
		background-image: url(../assets/tech-bg.svg),
			linear-gradient(180deg, #a72c5f 30%, #bf3649 130%);
	}

	.hero-content {
		text-align: center;
		padding-top: 80px;
		padding-bottom: 70px;

		.hero-title {
			font-size: 62px;
			line-height: 71px;
			font-weight: 500;
			align-self: center;

			&:after {
				/*
				content: "―――";
				display: block;
				line-height: 0;
				margin-bottom: 10px;
				font-weight: 100;
				*/
				content: "";
				display: block;
				padding-bottom: 8px;
				margin-bottom: 10px;
				border-bottom: solid 3px;
				width: 50%;
				margin-left: 25%;
			}
		}

		.hero-lead {
			font-size: 2rem;
			font-weight: 300;
			margin-top: 20px;
			margin-bottom: 20px;
		}

		.btn {
			min-width: 180px;
			margin: 0 10px;
		}
	}
}