ul.links {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		display: inline-block;

		a {
			color: #686868;
			display: inline-block;
			padding: 0 8px;
		}
	}

	&.column {
		flex-direction: column;

		li a {
			padding: 8px 0;
		}
	}
}