@import "../util/colors";

.hero {
	color: $color-white;
	margin-bottom: 64px;

	&.landing {
		background: $color-accent-blue;
		background-image: url(../assets/tech-bg.svg);
		background-image: url(../assets/tech-bg.svg),
			linear-gradient(180deg, $color-accent-blue 30%, $color-accent-blue-light 130%);
	}

	&.services {
		background: #2b72ca;
		background-image: url(../assets/tech-bg.svg);
		background-image: url(../assets/tech-bg.svg),
			linear-gradient(180deg, #0c7cbd 30%, #558ef8 130%);
			// linear-gradient(180deg, #0c7cbd 30%, #31b9de 130%);
	}

	&.products {
		background: $color-accent-green-2;
		background-image: url(../assets/tech-bg.svg);
		background-image: url(../assets/tech-bg.svg),
			linear-gradient(180deg, $color-accent-green-2 30%, $color-accent-green-2-light 130%);
	}

	&.projects {
		background: $color-accent-green-2;
		background-image: url(../assets/tech-bg.svg);
		background-image: url(../assets/tech-bg.svg),
			linear-gradient(180deg, $color-accent-green-2 30%, $color-accent-green-2-light 130%);
	}

	&.innovation {
		background: $color-accent-yellow;
		background-image: url(../assets/tech-bg.svg);
		background-image: url(../assets/tech-bg.svg),
			linear-gradient(180deg, $color-accent-yellow 30%, $color-accent-yellow-light 130%);
	}

	// &.open-source {
	// 	background: #a72c5f;
	// 	background-image: url(../assets/tech-bg.svg);
	// 	background-image: url(../assets/tech-bg.svg),
	// 		linear-gradient(180deg, #a72c5f 30%, #bf3649 130%);
	// }
	&.open-source {
		background: #d36366;
		background-image: url(../assets/tech-bg.svg);
		background-image: url(../assets/tech-bg.svg),
			linear-gradient(180deg, $color-accent-red 30%, #d36366 130%);
	}

	&.about {
		background: $color-accent-yellow;
		background-image: url(../assets/tech-bg.svg);
		background-image: url(../assets/tech-bg.svg),
			linear-gradient(180deg, $color-accent-yellow 30%, $color-accent-yellow-light 130%);
	}

	&.contact {
		background: $color-accent-green-2;
		background-image: url(../assets/tech-bg.svg);
		background-image: url(../assets/tech-bg.svg),
			linear-gradient(180deg, $color-accent-green-2 30%, $color-accent-green-2-light 130%);
	}

	.hero-content {
		text-align: center;
		padding-top: 80px;
		padding-bottom: 70px;

		&-small {
			padding-top: 32px !important;
			padding-bottom: 24px !important;

			.hero-title {
				font-size: 48px !important;
				line-height: 48px !important;
			}

			.hero-lead {
				font-size: 1.5rem !important;
				margin-top: 10px !important;
			}
		}

		.hero-title {
			font-size: 62px;
			line-height: 71px;
			font-weight: 500;
			align-self: center;

			&:after {
				content: "";
				display: block;
				padding-bottom: 8px;
				margin-bottom: 10px;
				border-bottom: solid 3px;
				width: 50%;
				margin-left: 25%;
			}
		}

		.hero-lead {
			font-size: 2rem;
			font-weight: 300;
			margin-top: 20px;
			margin-bottom: 20px;
		}

		.btn {
			min-width: 180px;
			margin: 0 10px;
		}
	}
}