<div class="filter-container">
  <button class="filter-btn active" data-level="all">All Levels</button>
  {{ range .Site.Data.courses.courseLevels }}
  <button class="filter-btn" data-level="{{ .id }}">{{ .title }}</button>
  {{ end }}
  <button class="clear-btn" id="clear-filters">Clear</button>
</div>

<div class="field-filter-container">
  <button class="field-filter-btn active" data-field="all">All Fields</button>
  {{ range .Site.Data.courses.courseFields }}
  <button class="field-filter-btn" data-field="{{ .id }}">{{ .title }}</button>
  {{ end }}
</div>